@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.hover_card{
    height: 100vh;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading_part h3{
    font-size: 18px;
    font-weight: 700;
    color: rgb(211, 1, 1);
}
.heading_part h1{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}
.main_card_part{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 70px;
}
.card_item{
    position: relative;
    box-shadow: 5px 5px 15px #00000038;
    width: 25%;
}
.card_item:hover .card_hover_items{
    opacity: 1;
    visibility: visible;
}
.card_img{
    padding: 45px 35px;
}
.card_item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.card_bottom_part, .card_hover_bottom_part{
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 25px;
    border-top: 10px solid rgb(211, 1, 1);
}
.card_hover_bottom_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.card_bottom_part h2, .card_hover_bottom_part h2{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.card_bottom_part p, .card_hover_bottom_part h6{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
.card_hover_bottom_part p{
    font-size: 16px;
    color: rgb(170, 170, 170);
}
.card_hover_items{
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all linear 0.3s;
}
.icon_mail{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.icon_mail span{
    width: 20px;
    height: 20px;
    background-color: rgb(211, 1, 1);
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.icon_mail a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}